/* --------------------------------------------------- */
/*  Profile.js                                         */
/* --------------------------------------------------- */
.loc-label {
  width: 130px;
  color: #9000ff;
  padding-left: 10px;
  padding-bottom: 10px;
}

.css-1schh3v-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #9000ff;
}

.Mui-selected {
  color: #9000ff;
}

/* --------------------------------------------------- */
/*  MyProfile.js                                       */
/* --------------------------------------------------- */
.loc-line-height {
  height: 110px;
}
