/* --------------------------------------------------- */
/*  Menu.js                                            */
/* --------------------------------------------------- */
.loc-menu-height {
  height: 70px;
}

.loc-img-size {
  width: 70px;
}

.loc-img-width {
  width: 20vw;
  min-width: 250px;
}

.loc-menu-width {
  width: 60vw;
  min-width: 700px;
}

.loc-setting-width {
  width: 20vw;
  min-width: 350px;
}

.loc-menu-font {
  font-family: "ibmRegular";
  font-size: 20px;
  font-weight: bold;
}

.loc-setting-font {
  font-family: "ibmLight";
  font-size: 19px;
  font-weight: bold;
}

.loc-icon-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* --------------------------------------------------- */
/*  Home.js                                            */
/* --------------------------------------------------- */
.loc-banner-title-font {
  font-family: "ibmRegular";
  font-size: 33px;
  font-weight: bold;

  position: absolute;
  left: 10vw;
  top: 50px;
}

.loc-banner-ctnt-font {
  font-family: "ibmLight";
  font-size: 25px;
  font-weight: bold;

  position: absolute;
  left: 10vw;
  top: 90px;
}

.loc-banner-small-font {
  font-family: "ibmLight";
  font-size: 17px;
  font-weight: bold;

  position: absolute;
  left: 10vw;
  top: 200px;
}

.loc-category-box {
  width: 182px;
  height: 250px;
  margin: 30px;

  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 13px 3px rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.loc-category-box:hover {
  opacity: 0.7;
}

.loc-category-font {
  font-size: 110px;
  margin: 50px 10px;
}

.loc-mbrshp-title-font {
  font-family: "ibmRegular";
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.loc-board-title-font {
  font-family: "ibmRegular";
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.loc-divider {
  width: 100px;
  height: 2px;
  background-color: #9000ff;
}

.loc-carousel_width {
  width: 970px;
}

@media (max-width: 970px) {
  .loc-carousel_width {
    width: 485px;
  }
}

/* --------------------------------------------------- */
/*  IndexModal.js                                      */
/* --------------------------------------------------- */
.loc-modal-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #9000ff;
}

.loc-title {
  color: white;
  font-size: 7vh;
  font-weight: bold;
  position: absolute;
  vertical-align: super;
  margin-top: 5vh;
  z-index: 2;
  font-family: "sanjuGotgam";
}

/* .loc-logo {
  object-fit: cover;
  width: 100vw;
  position: absolute;
  background-size: contain;
} */

.loc-logo {
  height: 100vh;
  display: flex;
  justify-content: center;
  transform: translateX(200px);
}

@media (max-width: 800px) {
  .loc-logo {
    width: 100vw;
    height: auto;
    /* padding-top: 72px; */
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }
}
