/* --------------------------------------------------- */
/*  BasicInput.js                                      */
/* --------------------------------------------------- */
.BasicInput {
  font-family: "ibmLight";
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.BasicInput:focus {
  border: 1px solid #9000ff;
}

/* --------------------------------------------------- */
/*  BasicButton.js                                     */
/* --------------------------------------------------- */
.BasicButton {
  border: 1px solid #9000ff;
  border-radius: 20px;
  margin: 0px 10px;
  color: #9000ff;
  background-color: white;
}

.BasicButton:hover {
  color: white;
  background-color: #9000ff;
}

/* --------------------------------------------------- */
/*  SelectBox.js                                       */
/* --------------------------------------------------- */
.SelectBox-div {
  position: relative;
  min-width: 100px;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}

.SelectBox-div::before {
  content: "⌵";
  position: absolute;
  top: -4px;
  right: 8px;
  color: #9000ff;
  font-size: 20px;
}

.SelectBox-label {
  font-size: 18px;
  margin-left: 10px;
}

.SelectBox-ul {
  position: absolute;
  list-style: none;
  top: 18px;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  border-radius: 8px;
  background-color: #fffaff;
  color: #101820;
  z-index: 999;
}

.SelectBox-li {
  font-size: 16px;
  padding: 6px 8px;
  transition: background-color 0.1s ease-in;
}

.SelectBox-li:hover {
  background-color: #ffe8f5;
}

.SelectBox-ul::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.SelectBox-ul::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #9000ff; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.SelectBox-ul::-webkit-scrollbar-track {
  background: rgba(144, 0, 255, 0.1); /*스크롤바 뒷 배경 색상*/
}

/* --------------------------------------------------- */
/*  NewIcon.js                                         */
/* --------------------------------------------------- */
.NewIcon-div {
  width: 5px;
  height: 5px;
  background-color: #ffe8f5;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewIcon-span {
  color: #9000ff;
  font-family: "ibmRegular";
  font-size: 4px;
  font-weight: 900;
}

/* --------------------------------------------------- */
/*  Pagination.js                                      */
/* --------------------------------------------------- */
.Pagination {
  display: flex;
  justify-content: center;
  margin: 5px;
}

/* --------------------------------------------------- */
/*  Comment.js                                         */
/* --------------------------------------------------- */
.loc-cmnt {
  width: 90%;
  line-height: 1;
  overflow: hidden;
  word-break: break-all;
}

.loc-cmnt-width {
  width: 87%;
}

.css-6bxxch-MuiPaper-root-MuiAccordion-root:before {
  display: none;
}
