/* --------------------------------------------------- */
/*  Board.js                                           */
/* --------------------------------------------------- */
.loc-nav-height {
  height: 70px;
}

.loc-push-btn {
  position: fixed;
  top: 85%;
  right: 4.5%;
  z-index: 1;
}
