/* --------------------------------------------------- */
/*  Board.js                                           */
/* --------------------------------------------------- */
.loc-nav-height {
  height: 70px;
}

.loc-push-btn {
  position: fixed;
  top: 80%;
  right: 4.5%;
}
